.main-logo {
  background-color: #ffffff80;
  border-radius: 10px;
  box-shadow: 6px 6px 4px #00000040;
  height: 188px;
  overflow: hidden;
  position: relative;
  width: 423px;
}

.main-logo .logo-right-shift {
  height: 87px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 370px;
}
